@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
  --backgroundColor: #172041;
  --spendingColor: #428DFC;
  --incomeColor: #0CE381;
  --textColor: #f6f5f8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
  color: var(--textColor);
}
p {
  font-weight: 300;
}
.spending-color {
  background-color: var(--spendingColor);
  color: var(--spendingColor);
}
.income-color {
  background-color: var(--incomeColor);
  color: var(--incomeColor);
}

#app-container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--backgroundColor);
}
#component-container {
  width: 100%;
  max-width: 600px;
  padding: 2em;
  background-color: var(--backgroundColor);
  border: 1px solid var(--textColor);
  border-radius: 10px;
}

/* *********************************** */
/* ********* HEADER COMPONENT ******** */
/* *********************************** */
.chart-header{
  margin: 0.5em 0;
}
.header-spending-income-container {
  display: flex;
  margin: 0.5em 0;
}
.header-spending-income {
  display: grid;
  grid-template-areas:  "dot label"
                        ". amount";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.25em;
  margin-right: 1em;
}
.dot {
  grid-area: dot;
  align-self: center;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.header-label {
  grid-area: label;
  display: grid;
  place-items: center;
}

.header-label-amount {
  grid-area: amount;
}
.dollar {
  font-weight: 800;
}

/* *********************************** */
/* ********* CHART COMPONENT ******** */
/* *********************************** */
.chart-container {
  position: relative;
  display: grid;
  grid-template-columns: 7fr 1fr;
  width: 100%;
}
.graphs-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* *********************************** */
/* ******* MONTHGRAPH COMPONENT ****** */
/* *********************************** */
.month-graph-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
}
.month-graph-container:hover {
  cursor: pointer;
}
.month-graph {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2px;
  position: relative;
}
.graph-bar-container {
  background-color: var(--backgroundColor);
  position: relative;
  bottom: 0;
  width: 10px;
  height: 100%;
  /* border: 1px solid transparent; */
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
}
.graph-bar-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  opacity: 0;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  z-index: 1000;
}

.graph-label {
  display: grid;
  place-items: center;
  padding: 0.25em;
  margin-top: 0.5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 5px;
}
.highlight-label-background {
  background-color: var(--textColor);
  
}
.label-text{ 
  text-align: center;
}
.label-text::after {
  display: block;
  content: attr(title);
  font-weight: 600;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}
.highlight-label-text {
  background-image: linear-gradient(135deg, #2cd5ff, #b15eff);
  background-clip: text;
  color: transparent;
  font-weight: 600; 
}

/* *********************************** */
/* ********* BUDGET COMPONENT ******** */
/* *********************************** */
.budget {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.budget-info {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5em;
  transition: 0.7s ease-in-out 0.3s;
}
.budget-info > .dollar {
  margin-top: 0.25em;
}
.budget-line {
  position: absolute;
  bottom: 0;
  background-color: #ffffffcb;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  z-index: 300;
  transition: 0.7s ease-in-out 0.3s;
}