:root {
  --backgroundColor: #172041;
  --spendingColor: #428DFC;
  --incomeColor: #0CE381;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
  color: #fff;
}